
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}


.navbar {
    background-color: #4CAF50;
    padding: 1rem;
    text-align: center;
    color: white;
}

.navbar h1 {
    margin: 0;
    font-size: 2rem;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.events {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.event-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 15px;
    padding: 15px;
    transition: transform 0.2s;
}

.event-card:hover {
    transform: scale(1.05);
}

.event-card img {
    max-width: 100%;
    border-radius: 10px;
}

.event-card h3 {
    color: #333;
    font-size: 1.4rem;
    margin-top: 10px;
}

.event-card p {
    color: #555;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
